<!DOCTYPE html>
<html>
  <head>
    <title>Cyrptid Keeper</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <script src="/js/app.js"></script>
  <body>
<div id="banner"></div>
    <nav>
      <p >Cryptid Keeper</p>
      <a href="/cryptids">Cryptid Directory</a>
      <a href="/users/register">Register</a>
      |
      <a href="/users/signin">Signin</a>
      |
      <a href="/users/signout">Signout</a>
    </nav>
    <div id="center">