#center{
    margin: 0 20vw 0 20vw;
    text-align: center; 
    background-color: ghostwhite;
    height: 100%;
    width: 60vw;
    border:  solid #181818;
    border-width: 1px .5em;
}

.index-img{
    max-width: 14vw;
    border: 2px solid #181818;
    border-radius: 30px;
    margin: 20px;
}

body{
    background-color: darkcyan;
    width: 1200px;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#show-img{
    max-width: 400px;
    border: 2px solid #181818;
    border-radius: 30px;
}


li{
    display: block;
}

table{
    margin:auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
table, th, td {
    border: 2px solid;
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
    border-radius: 30px;
    border-collapse: collapse;
  }
 
  th{
 padding: 10px;
  }